{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}

{{ define "description" }}{{.Title}} on {{.Site.Title}}{{ end }}

{{ define "main" }}
<section>
  {{ if .Content }}
  <article>
    {{ partial "article-header.html" . }}
    <div>{{.Content}}</div>
  </article>
  {{ end }}
  <ul>
    {{ range .Data.Pages.ByDate }}
    <li>
      <article>
        {{ partial "article-header.html" . }}
        {{ if $.Site.Params.show_summaries}}
        <div>{{.Summary}}</div>
        {{ end }}
      </article>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
